*{
    padding: 0;
    margin: 0;
    font-size: 40px
}
.box-one {
    background-color: brown;
    padding: 10px;
    border: 30px solid purple;
    margin: 60px
}
.box-two {
    background-color: blue;
    border: 0 solid green;
    padding: 10px;
    height: 100px;
    width: 100px;
    border: 30px solid purple;
    margin: 70px ;
}