* {
    padding: 0;
    margin: 0;
    font-size: 40px;
    box-sizing: border-box;
}

.box-one {
    background-image: url("//unsplash.it/1100/1200");
    background-size: cover;
    background-color: brown;
    padding: 35px;
    border: 70px solid purple;
    margin: 60px;

}

.box-two {
    background-color: blue;
    border: 0 solid green;
    padding: 10px;
    height: 100px;
    width: 100px;
    border: 30px solid purple;
    margin: 70px;
}