[data-columns] {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    margin: 0 0 1rem 0;
  }
  
  [data-columns] > div {
    height: 100px;
    background: white;
  }
  
  [data-columns="2"] {
    background: #64B5F6;
    grid-template-columns: repeat(2, 1fr);
  }
  
  [data-columns="3"] {
    background: rgb(238, 255, 0);
    grid-template-columns: repeat(3, 1fr);
  }
  
  [data-columns="4"] {
    background: #FFB74D;
    grid-template-columns: repeat(4, 1fr);
  }
  
  body {
    margin: 1rem;
  }